
#inputDisplay{
    position: absolute;
    width: 50%;
    height: 50%;
    /* padding: 20px; */

    background-image:  url('../images/raincolors.jpg');
    background-repeat: no-repeat;
}

#index{
    position: absolute;
    top: 3%;
    right: 2%;
}

#bar{
    position: absolute;
    background-color: hsla(0, 1%, 12%, 0.8);
    width: 25px;
    height: 135px;
    border: 2px solid black;

    top: 3%;
    right: 40%; 
}

#mii{
    position: absolute;
    top: 6%;
    left: 45%
}




