
    /* LAYOUT */
/* hide all special classes */
div.special{
    position: absolute;
    visibility: hidden;
}
/* layout for fixed elements */
#navbar {
    position: fixed;
    top: 0px;
    left: 237px;
    background-color: hsla(37, 100%, 46%, 0.6); 
} 

#navbar ul, #navbar li{
    display: inline-block; 
    margin: 5px 5px 5px 5px;
    padding: 2px;
    border: hsl(150, 50%, 50%) outset 2px;
}

#navbar li{
    list-style-image: url("../images/pumpkin.png");
}

footer{
    position: fixed;
    bottom: 0px;
    left: 45%;
    padding: 3px;
}
/* Layout for headers */
div.introduction h1{
    position: absolute;
    left: 10%;
    bottom: 50%;
}

div.assignment h1{
    position: absolute;
    left: 15%;
    bottom: 20%;
}

div.portfolio h1 {
    position: absolute;
    right: 10%;
    bottom: 50%;
}

div.schedule h1{
    position: absolute;
    right: 15%;
    bottom: 20%
}
/* layout for contact header and link */
#contact {
    position: fixed;
    bottom: 5%;
    left: 45%;
    padding: 6px;
}

#contact ~ .special{
    top: 38%;
    right: 42%;
    width: 15%;
    padding: 10px;
}
/* layout for introduction elements */
div.introduction .special{
    top: 10%;
    left: 40%;
    width: 25%;
    padding: 10px;
}

#charlie{ 
    float: left;
    margin: 5px;
}

#charlie figcaption{
    width: fit-content;
}

#lidda{
    float: right; 
    margin: 5px; 
}

#lidda figcaption{
    width: fit-content;
}
/* layout for portfolio section */
div.portfolio .special{
    top: 10%;
    left: 38%;
    width: 30%;
    padding: 10px; 
}
 
.portfolio .special li{ 
    list-style-image: url("../images/pumpkinsm.png");     
    text-align: left;
}
/* layout for assignment */
.assignment .special{
    top: 20%;
    left: 42%;
    width: 20%;
    padding: 10px; 
}

.assignment .special li{
    text-align: left;
}

.assignment .special ul li{
    list-style-image: url("../images/pumpkinsmer.png"); 
}
/*  layout for schedule*/
.schedule .special{
    top: 25%;
    left: 20%;
    width: fit-content;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
}

        /* HOVER */
/*  hover and transform for intro */
div.introduction h1:hover ~ .special {
    display: block;
    visibility: visible;
} 

div.introduction h1:hover ~ .special figure{
    transform:scale(1.2,1.2); 
} 
/* hover for assignment */
div.assignment h1:hover ~ .special {
    display: block;
    visibility: visible;
}

/* hover for portfolio */
div.portfolio h1:hover ~ .special{
    display: block;
    visibility: visible;
}

/* hover for schedule */
div.schedule h1:hover ~ .special{
    display: block;
    visibility: visible;
}

/* hover for contact info */
#contact:hover ~ .special {
    display: block;
    visibility: visible;
}
/* style change for links */
a:hover{
    font-style: italic;
}

        /* TRANSITION*/ 
/* transition for introduction elements */
.introduction .special figure{
    transition-delay: 2s;
    transition: transform 2s;
}

/* transition delay for assignment elements */
/* this is to give the user enough time to click links */
 .assignment .special{
    transition-duration: 10s;
 }

 /* transition delay for contact section */
address .special{
    transition-duration: 6s;
}

        /* FONT */

/* h1 font and color */
h1{
    background-color: hsla(74, 5%, 94%, 0.6);
    font-family: 'Goblin One', sans-serif;
    text-transform:capitalize;
    letter-spacing: 5px;
    text-shadow: 4px 2px 5px hsl(276, 5%, 37%);
    padding: 5px;
}

/* other text font and color */
p, figcaption, ol, #navbar li, a {
    background-color: hsla(78, 100%, 62%, 0.6);
    font-family: 'IM Fell Great Primer';
    color: black;
    font-weight:900;
    line-height: normal;
    text-align: center;
}

/* color for footer and contact header */
footer, #contact{
    background-color: hsla(37, 100%, 46%, 0.6);
}

/* font for bigger list font */
li:not(#navbar li), .assignment .special ul li, address .special{
    font-size: 30px;
}

/* Special style for first letter of each p */
p::first-letter{
    font-size: 140%;
    text-transform:capitalize;
    color: hsl(0, 89%, 5%);
}

/* box shadow for porfolio paragraph */
div.portfolio .special p{
    box-shadow: 3px 6px #566f4d;
}

/* color for schedule table */
.schedule .special tr:nth-child(even){
    background-color: hsla(36, 100%, 79%, 0.9);
}

.schedule .special{
    background: hsla(13, 100%, 84%, 0.9);
}

/* font and color for links */
a{
  font-family: 'IM Fell Great Primer';  
  text-decoration: none; 
  font-style: normal;
  color: hsl(0, 100%, 20%);  
} 

        /* BORDER */

/* all headers top border rounded */
h1, #contact, footer{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.portfolio .special p, address .special a{
    border-right-style: 3px solid rgb(24, 0, 0);
    border-bottom-style: 3px solid rgb(24, 0, 0);
}

/* rounded corners for navbar links */
div.navbar li{
    border-radius: 10px;
}

/* formatting border for table */
.schedule .special{
    border: 10px ridge hsl(31, 45%, 16%);
    padding: 5px;
    vertical-align: baseline;
    empty-cells: show;
    text-align: center;
}
 /* adding lines for table*/ 
 .schedule .special tr, .schedule .special td{
    border: 1px solid black;
 }


/* Background image */
body{
    background-image: url(../images/wallpaper.jpg), url(../images/leaves.png);
    background-repeat: no-repeat;
    background-position: 50% 50px;
    background-color: hsl(350, 100%, 13%);
}



